[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupWMClass=4da
Keywords=developer;intelligence;curation;signals;privacy;local;
MimeType=x-scheme-handler/4da;
Actions=signal-terminal;

[Desktop Action signal-terminal]
Name=Open Signal Terminal
Exec={{exec_dir}}/{{exec_name}} --signal-terminal
