[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupWMClass=4DA Home
Keywords=developer;intelligence;curation;signals;
